resource_group_name      = "rg-ats-prod"
location                  = "germanywestcentral"
acr_name                  = "atsacrprod001"
log_analytics_name        = "log-ats-prod"
aks_name                  = "aks-ats-prod"
vnet_name                 = "vnet-ats-prod"
vnet_address_space        = "10.20.0.0/16"
aks_subnet_cidr           = "10.20.1.0/24"
private_endpoint_subnet_cidr = "10.20.2.0/24"
sql_server_name           = "sql-ats-prod-001"
sql_database_name         = "sqldb-ats-prod"
key_vault_name            = "kv-ats-prod-001"
sql_admin_login           = "sqladminuser"
sql_admin_password        = "REPLACE_ME"
